<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Update existing book</title>
</head>
<body>
    <h1>Update existing book</h1>
    <div>

    	<form th:object="${book}" th:action="@{/bookedit/{id}(id=${book.id})}" action="#" method="post">

    		<div>
    			<label for="fname">Author</label>
    			<input type="text" th:field="*{author}" />
    		</div>
    		<div>
    			<label for="fname">Title</label>
    			<input type="text" th:field="*{title}" />
    		</div>
    		<div>
    			<label for="fname">ISBN</label>
    			<input type="text" th:field="*{isbn}" />
    		</div>
    		<div>
    			<label for="fname">Year</label>
    			<input type="text" th:field="*{year}" />
    		</div>
    		<div>
    			<label for="fname">Price</label>
    			<input type="text" th:field="*{price}" />
    		</div>
    		
    		<input type="submit" value="Update book"></input>
    	</form>

    </div>
</body>
</html>
