<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <title>Bookstore page</title>
</head>
<body>
	<div>
		<h1>Books</h1>

		<table class="table table-striped">
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Category</th>
				<th>Price</th>
				<th>Actions</th>
				<th></th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.category.getName()}"></td>
				<td th:text="${#numbers.formatDecimal(book.price, 1, 2)}"></td>
				<td><a class="btn btn-danger"
				th:attr="onclick='javascript:return confirm(\'' + 'Delete book: ' + ${book.title} + '?' + '\');'"
					th:href="@{__${deletepage}__/{id}(id=${book.id})}">Delete</a></td>
				<td><a class="btn btn-warning"
					th:href="@{__${editpage}__/{id}(id=${book.id})}">Edit</a></td>
			</tr>
		</table>
		<div>
			<a class="btn btn-success" href="@{__${addpage}__}">Add Book</a>
		</div>
	</div>
</body>
</html>
