<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />
    <title>Update existing book</title>
</head>
<body>
    <div class="col-md-4 mb-3">
    	<h1>Update existing book</h1>

    	<form th:object="${book}" action="#" th:action="@{{id}(id=${book.id})}" method="post">

    		<div class="form-group">
    			<label for="BookAuthor">Author</label><br>
    			<input class="form-control" type="text" th:field="*{author}" placeholder="Book author"/>
    			<small class="form-text text-muted">Set book author name</small>
    			<div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Invalid author name</div>
    		</div>
    		<div class="form-group">
    			<label for="BookName">Title</label><br>
    			<input class="form-control" type="text" th:field="*{title}" placeholder="Book title"/>
    			<small class="form-text text-muted">Set book primary title</small>
    			<div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid title</div>
    		</div>
    		<div class="form-group">
    			<label for="BookISBN">ISBN</label><br>
    			<input class="form-control" type="text" th:field="*{isbn}" placeholder="Book ISBN code"/>
    			<small class="form-text text-muted">Set book ISBN code</small>
    			<div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Invalid ISBN code</div>
    		</div>
    		<div class="form-group">
    			<label for="BookYear">Year</label><br>
    			<input class="form-control" type="text" th:field="*{year}" placeholder="Book publication year (YYYY)"/>
    			<small class="form-text text-muted">Set book publication year</small>
    			<div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Invalid year</div>
    		</div>
    		<div class="form-group">
    			<label for="fname">Price</label>
    			<div class="input-group mb-2">
    				 <div class="input-group-prepend">
    				 	<div class="input-group-text">€</div>
    				 </div>
    				<input class="form-control" type="text" th:field="*{price}" placeholder="Book price"/>
    			</div>
    			<small class="form-text text-muted">Set book price</small>
    			<div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Invalid price</div>
    		</div>
    		
    		<div class="form-group">
    			<label for="BookCategory">Category</label>
    			<select class="form-control" th:field="*{category}" th:selected="${book.category}">
    				<option
    				th:each="category : ${categories}"
    				th:value="${category.getId()}"
    				th:text="${category.getName()}"
    				></option>
    			</select>
    			<small class="form-text text-muted">Select appropriate category</small>
    		</div>

    		<button class="btn btn-primary" type="submit">Update book</button>
    	</form>
    	<br>
    	<form action="#" th:action="@{../booklist}" method="get">
    		<button class="btn btn-success" type="submit">Return to book list page</button>
    	</form>

    </div>
</body>
</html>
