<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="text/css" rel="stylesheet" href="../static/css/bookstore.css" th:href="@{__${@Pages.RESCSS}__/bookstore.css}" />
	<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{__${@Pages.RESCSS}__/bootstrap.min.css}" />

	<title th:text="${#messages.msgOrNull('page.title.browser.error')} ?: 'page.title.browser.error'">
	page.title.browser.error
	</title>

</head>
<body>
	<div class="col-md-4 mb-3">
		<h1 th:text="${#messages.msgOrNull('page.title.webform.error')} ?: 'page.title.webform.error'">
		page.title.webform.error
		</h1>
		<div class="alert alert-danger mt-2"
		th:text="${#messages.msgOrNull('page.text.error')} ?: 'page.text.error'">
		page.text.error
		</div>
	</div>
</body>
</html>
