<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>
<!--
	<property name="LOG_FILE" value="logs/bookstore.log" />
-->
	<Appender name="console" target="SYSTEM_OUT" class="ch.qos.logback.core.ConsoleAppender">
		<Layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level %logger{40} - %msg%n
			</Pattern>
		</Layout>
	</Appender>
<!--
	<Appender name="file" class="ch.qos.logback.core.FileAppender">
		<File>${LOG_FILE}</File>
		<Append>True</Append>
		<Layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level %logger{40} - %msg%n
			</Pattern>
		</Layout>
-->
<!--
		<RollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>
				${LOG_FILE}.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<MaxFileSize>2MB</MaxFileSize>
		</RollingPolicy>
-->
<!--
	</Appender>
-->

	<Root level="info">
		<Appender-Ref ref="console" />
		<!-- Appender-Ref ref="file"/> -->
	</Root>

</Configuration>